
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Font-awesome
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Ui card
@import "ui-card";

// Card
@import "card";

.notification-count {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 19px;
  top: 6px;
}

.dropdown-menu-notifications {
  width: 360px;

  li {
    padding: 0px 0;

    a {
      padding: 12px 24px;
    }
  }

  .divider {
    height: 1px;
    margin: 3px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .see-all-notifications {
    margin: 10px 0;

    a {
      color: #333 !important;
    }
  }
}

.navbar-brand {
  margin-right: 30px;
}

.order-details {
  margin-bottom: 30px;
}

.dropdown-style {
  height: 34px;
  width: 100%;
  background: white;
  border: 1px solid #E5E6E7;
}

/* @group Blink */
@-webkit-keyframes my {
  0% { background:#d1a3a3; }
  50% { background: #fff; }
  100% { background:#d1a3a3; }
  }
  @-moz-keyframes my {
  0% { background:#d1a3a3; }
  50% { background: #fff; }
  100% { background:#d1a3a3; }
  }
  @-o-keyframes my {
  0% { background:#d1a3a3; }
  50% { background: #fff; }
  100% { background:#d1a3a3; }
  }
  @keyframes my {
  0% { background:#d1a3a3; }
  50% { background: #fff; }
  100% { background:#d1a3a3; }
  }
  .blink, .blink td, .blink th, .blink td a, .blink th a{
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
  }
  .btn-status-order {
    position: relative;
    margin-right: 2.5em;
    min-width: 150px;
}
.btn-status-order::after,.btn-status-order::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -19px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 2.5em solid;
    right: -2.4em;
}
.btn-status-order::after {
    z-index: 2;
    border-left-color: #525252;
}




